node-red/flows.json
[
    {
        "id": "0bdcbfbb92e8e12f",
        "type": "tab",
        "label": "Pedidos SQLite",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0c2a3c99c7e43a10",
        "type": "http in",
        "z": "0bdcbfbb92e8e12f",
        "name": "Receber Pedido",
        "url": "/pedido",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "74061dbb3c22ec8b"
            ]
        ]
    },
    {
        "id": "74061dbb3c22ec8b",
        "type": "json",
        "z": "0bdcbfbb92e8e12f",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 300,
        "y": 120,
        "wires": [
            [
                "8b172b3ab00b345b",
                "eec5ca02dbccb097",
                "aa3be72826696712"
            ]
        ]
    },
    {
        "id": "8b172b3ab00b345b",
        "type": "function",
        "z": "0bdcbfbb92e8e12f",
        "name": "Preparar INSERT cliente",
        "func": "msg.nome = msg.payload.nome;\nmsg.pecas = [msg.payload.peca1, msg.payload.peca2, msg.payload.peca3];\nmsg.topic = \"INSERT INTO clientes (nome) VALUES ($nome)\";\nmsg.payload = [msg.nome];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 120,
        "wires": [
            [
                "13ff9b6adfa8a72c"
            ]
        ]
    },
    {
        "id": "13ff9b6adfa8a72c",
        "type": "sqlite",
        "z": "0bdcbfbb92e8e12f",
        "mydb": "23892abdd9f1d5ab",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Inserir cliente",
        "x": 740,
        "y": 120,
        "wires": [
            [
                "c5f92f4cb62bd648"
            ]
        ]
    },
    {
        "id": "6b47dcd93fd4f91e",
        "type": "function",
        "z": "0bdcbfbb92e8e12f",
        "name": "Gerar pedido e salvar",
        "func": "const gerarCodigo = (tam = 8) => {\n    const c = \"ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789\";\n    return Array.from({ length: tam }, () => c[Math.floor(Math.random() * c.length)]).join(\"\");\n};\n\nfunction dataHojeFormatada() {\n    const hoje = new Date();\n\n    const ano = hoje.getFullYear();\n    const mes = String(hoje.getMonth() + 1).padStart(2, '0'); // meses começam do 0\n    const dia = String(hoje.getDate()).padStart(2, '0');\n\n    return `${ano}-${mes}-${dia}`;\n}\n\nconst codigo = gerarCodigo();\nlet data = dataHojeFormatada();\n\nmsg.codigoPedido = codigo;\nmsg.id_cliente = msg.payload[0].id_cliente;\nmsg.topic = \"INSERT INTO pedidos (pedido_numero, id_cliente, data_pedido) VALUES ($codigoPedido, $id_cliente, $data)\";\nmsg.payload = [msg.codigoPedido, msg.id_cliente, data];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 340,
        "wires": [
            [
                "e2702e24032d72b6",
                "5168f5151900f1d5"
            ]
        ]
    },
    {
        "id": "e2702e24032d72b6",
        "type": "sqlite",
        "z": "0bdcbfbb92e8e12f",
        "mydb": "23892abdd9f1d5ab",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Inserir pedido",
        "x": 1000,
        "y": 340,
        "wires": [
            [
                "ad05c6495a9c4d02"
            ]
        ]
    },
    {
        "id": "ae89dc2897ea07be",
        "type": "function",
        "z": "0bdcbfbb92e8e12f",
        "name": "Gerar inserts itens",
        "func": "const pecas = msg.pecas;\nconst idMap = { 1: 1, 2: 2, 3: 3 };\n\nmsg.itens = pecas.map(p => {\n    return {\n        topic: \"INSERT INTO itens_pedido (codigo_pedido, id_item, quantidade) VALUES (?, ?, ?)\",\n        payload: [msg.codigoPedido, idMap[p], 1]\n    };\n});\n\nreturn [msg.itens];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 120,
        "wires": [
            [
                "a453401c3b1ae9f0"
            ]
        ]
    },
    {
        "id": "a453401c3b1ae9f0",
        "type": "sqlite",
        "z": "0bdcbfbb92e8e12f",
        "mydb": "23892abdd9f1d5ab",
        "sql": "",
        "name": "Inserir itens",
        "x": 1680,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c5f92f4cb62bd648",
        "type": "http response",
        "z": "0bdcbfbb92e8e12f",
        "name": "Resposta OK",
        "statusCode": "200",
        "headers": {},
        "x": 910,
        "y": 120,
        "wires": []
    },
    {
        "id": "eec5ca02dbccb097",
        "type": "function",
        "z": "0bdcbfbb92e8e12f",
        "name": "SELECT Nome",
        "func": "msg.nome = msg.payload.nome;\nmsg.topic = \"SELECT id_cliente FROM Clientes WHERE nome = $nome\";\nmsg.payload = [msg.nome];  \nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 340,
        "wires": [
            [
                "64d7f59997319598"
            ]
        ]
    },
    {
        "id": "64d7f59997319598",
        "type": "sqlite",
        "z": "0bdcbfbb92e8e12f",
        "mydb": "23892abdd9f1d5ab",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "SELECT Nome",
        "x": 560,
        "y": 340,
        "wires": [
            [
                "6b47dcd93fd4f91e"
            ]
        ]
    },
    {
        "id": "ad05c6495a9c4d02",
        "type": "http response",
        "z": "0bdcbfbb92e8e12f",
        "name": "Resposta OK",
        "statusCode": "200",
        "headers": {},
        "x": 1190,
        "y": 340,
        "wires": []
    },
    {
        "id": "5168f5151900f1d5",
        "type": "join",
        "z": "0bdcbfbb92e8e12f",
        "name": "JOIN Itens_Pedido",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "payload",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 880,
        "y": 240,
        "wires": [
            [
                "9a387fa2133dfb14"
            ]
        ]
    },
    {
        "id": "9a387fa2133dfb14",
        "type": "debug",
        "z": "0bdcbfbb92e8e12f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 140,
        "wires": []
    },
    {
        "id": "aa3be72826696712",
        "type": "function",
        "z": "0bdcbfbb92e8e12f",
        "name": "Preparar INSERT cliente",
        "func": "msg.payload = [msg.payload.peca1, msg.payload.peca2, msg.payload.peca3];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 200,
        "wires": [
            [
                "5168f5151900f1d5"
            ]
        ]
    },
    {
        "id": "23892abdd9f1d5ab",
        "type": "sqlitedb",
        "db": "C:\\Users\\JV\\Desktop\\Integrative Project\\Projeto-Integrador\\Pedidos.db",
        "mode": "READWRITE"
    }
]