node-red/Node-red-flow.json
[
    {
        "id": "0bdcbfbb92e8e12f",
        "type": "tab",
        "label": "Pedidos SQLite",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0c2a3c99c7e43a10",
        "type": "http in",
        "z": "0bdcbfbb92e8e12f",
        "name": "Receber Pedido",
        "url": "/pedido",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "74061dbb3c22ec8b"
            ]
        ]
    },
    {
        "id": "74061dbb3c22ec8b",
        "type": "json",
        "z": "0bdcbfbb92e8e12f",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 300,
        "y": 120,
        "wires": [
            [
                "8b172b3ab00b345b",
                "85e64f1c38a8014a"
            ]
        ]
    },
    {
        "id": "8b172b3ab00b345b",
        "type": "function",
        "z": "0bdcbfbb92e8e12f",
        "name": "Preparar INSERT cliente",
        "func": "msg.nome = msg.payload.nome;\nmsg.pecas = [msg.payload.peca1, msg.payload.peca2, msg.payload.peca3];\nmsg.topic = \"INSERT INTO clientes (nome) VALUES (\"+ msg.nome + \")\";\nmsg.payload = [msg.nome];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 120,
        "wires": [
            [
                "13ff9b6adfa8a72c"
            ]
        ]
    },
    {
        "id": "13ff9b6adfa8a72c",
        "type": "sqlite",
        "z": "0bdcbfbb92e8e12f",
        "mydb": "23892abdd9f1d5ab",
        "sql": "",
        "name": "Inserir cliente",
        "x": 740,
        "y": 120,
        "wires": [
            [
                "6b47dcd93fd4f91e",
                "a41a97fb6db88c9d"
            ]
        ]
    },
    {
        "id": "6b47dcd93fd4f91e",
        "type": "function",
        "z": "0bdcbfbb92e8e12f",
        "name": "Gerar pedido e salvar",
        "func": "// Simula o last inserted ID (Node-RED sqlite não fornece automaticamente)\nflow.set(\"ultimoCliente\", flow.get(\"ultimoCliente\") + 1 || 1);\nconst id_cliente = flow.get(\"ultimoCliente\");\n\nconst gerarCodigo = (tam = 8) => {\n    const c = \"ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789\";\n    return Array.from({ length: tam }, () => c[Math.floor(Math.random() * c.length)]).join(\"\");\n};\n\nconst codigo = gerarCodigo();\n\nmsg.codigoPedido = codigo;\nmsg.id_cliente = id_cliente;\nmsg.topic = \"INSERT INTO pedidos (id_cliente, codigo) VALUES (?, ?)\";\nmsg.payload = [id_cliente, codigo];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 120,
        "wires": [
            [
                "e2702e24032d72b6"
            ]
        ]
    },
    {
        "id": "e2702e24032d72b6",
        "type": "sqlite",
        "z": "0bdcbfbb92e8e12f",
        "mydb": "23892abdd9f1d5ab",
        "name": "Inserir pedido",
        "x": 1220,
        "y": 120,
        "wires": [
            [
                "ae89dc2897ea07be",
                "8ec9b201f15ec1b2"
            ]
        ]
    },
    {
        "id": "ae89dc2897ea07be",
        "type": "function",
        "z": "0bdcbfbb92e8e12f",
        "name": "Gerar inserts itens",
        "func": "const pecas = msg.pecas;\nconst idMap = { 1: 1, 2: 2, 3: 3 };\n\nmsg.itens = pecas.map(p => {\n    return {\n        topic: \"INSERT INTO itens_pedido (codigo_pedido, id_item, quantidade) VALUES (?, ?, ?)\",\n        payload: [msg.codigoPedido, idMap[p], 1]\n    };\n});\n\nreturn [msg.itens];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 120,
        "wires": [
            [
                "a453401c3b1ae9f0"
            ]
        ]
    },
    {
        "id": "a453401c3b1ae9f0",
        "type": "sqlite",
        "z": "0bdcbfbb92e8e12f",
        "mydb": "23892abdd9f1d5ab",
        "sql": "",
        "name": "Inserir itens",
        "x": 1680,
        "y": 120,
        "wires": [
            [
                "c5f92f4cb62bd648"
            ]
        ]
    },
    {
        "id": "c5f92f4cb62bd648",
        "type": "http response",
        "z": "0bdcbfbb92e8e12f",
        "name": "Resposta OK",
        "statusCode": "200",
        "headers": {},
        "x": 1880,
        "y": 120,
        "wires": []
    },
    {
        "id": "85e64f1c38a8014a",
        "type": "debug",
        "z": "0bdcbfbb92e8e12f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 200,
        "wires": []
    },
    {
        "id": "a41a97fb6db88c9d",
        "type": "debug",
        "z": "0bdcbfbb92e8e12f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 200,
        "wires": []
    },
    {
        "id": "8ec9b201f15ec1b2",
        "type": "debug",
        "z": "0bdcbfbb92e8e12f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 200,
        "wires": []
    },
    {
        "id": "23892abdd9f1d5ab",
        "type": "sqlitedb",
        "db": "C:\\Users\\JV\\Desktop\\Integrative Project\\Projeto-Integrador\\Pedidos.db",
        "mode": "READWRITE"
    }
]